body{
    font-family: 'proxima_nova_rgregular', sans-serif;
    font-size: 14px;
}

.header{
    background: #004689;
    padding: 50px 0;
}

h1{
    font-family: 'proxima_novalight', sans-serif;
    color: #004689;
    font-size: 33px;
    line-height: 47px;
    margin: 50px 0;
}

::selection{
    background: #004689;
    color: #ffffff;
}