@media only screen and (min-width: 1441px) {
    .wrapper .container .content .trident-label{
        top: -60px;
    }
}

@media only screen and (max-width: 1200px) {
    .wrapper .container .innerMenu{
        display: none;
    }
}

@media only screen and (max-width: 540px) {
    h2{
        font-size: 65px;
        line-height: 59px;
        margin: 15px 30px;
    }
    .wrapper .container{
        & .header{
            width: 100vw;

            & .menu{
                display: none;
            }
        }
        & .content{
            min-width: 100%;
    
            & .trident{
                width: 100%;
                background-size: 900px;
            }
            & .trident-label{
                left: 30px;
                width: 250px;
                top: -45px;
            }

            & h4, & dl{
                margin-left: 30px;
            }
        }
        & .sneakpeak{
            right: 30px;
            top: auto;
            bottom: 30px;

            & h4{
                font-size: 24px;
                margin: 0 0 5px;
            }
            & p{
                font-size: 14px;
            }
        }
    }
}
  