$brandFont: 'Odibee Sans', cursive;
$sanserifFont: 'Open Sans', sans-serif;
$darkColor: #022630;
$bg1: #4AC498;
$bg2: #F9F3D9;
$bg3: #F28E85;
$lightColor: $bg2;
$greenColor: $bg1;

body,html{
    font-family: $sanserifFont;
    font-size: 16px;
    color: $darkColor;
}

* {
    box-sizing: border-box;
    @include transition-property(all);
    @include transition-duration(.3s);
}

h2{
    font-family: $brandFont;
    font-size: 96px;
    color: $lightColor;
    line-height: 88px;
    z-index: 9;
    position: relative;
    margin: 120px 0 0;
}

.wrapper{
    max-width: 1680px;
    margin: 0 auto;

    & .container{
        height: 100vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding-top: 90px;
        position: relative;
        // overflow: hidden;

        &.slide1{
            background-color: $bg1;
            z-index: 1;

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                z-index: 0;
                left: 0;
                top: 0;
                height: 100%;
                background: url('../images/auroraBG.png') no-repeat center center;
                background-size: 100%;
                @include opacity(0);
                @include transition-duration(1s);
            }

            & > *{
                z-index: 2;
            }

            &.hovered{
                &::after{
                    @include opacity(1);
                }

                & .header{
                    color: $greenColor;

                    & a{
                        color: $greenColor;
                    }
                }

                & .content{
                    & .trident{
                        background-image: url('../images/trident/aurora@2x.png');
                    }

                    & .trident-label{
                        filter: brightness(10) hue-rotate(314deg);
                        opacity: .5;
                    }
                }

                & .innerMenu img{
                    filter: brightness(2000%);
                }
            }
        }

        &.slide2{
            background-color: $bg2;
            color: $darkColor;

            & h2{
                color: $darkColor;
            }

            & .content{
                & .trident{
                    background-image: url('../images/trident/performance@2x.png');
                }
            }
        }
        &.slide3{
            background-color: $bg3;
        }
        &.slide4{
            background-color: $bg1;
        }
        &.slide5{
            background-color: $bg2;
            color: $darkColor;

            & h2{
                color: $darkColor;
            }
        }
        &.slide6{
            background-color: $bg3;
        }

        & .header{
            display: flex;
            align-items: baseline;
            margin: 0 auto;
            width: 99vw;
            position: fixed;
            top: 0;
            z-index: 90;
    
            & .brand{
                font-family: $brandFont;
                font-size: 29px;
                margin: 30px;
            }
            & .menu{
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
    
                & a{
                    color: $darkColor;
                    text-decoration: none;
                    margin:0 15px;
    
                    &.btn{
                        color: $darkColor;
                        border: 2px solid $darkColor;
                        display: inline-block;
                        padding: 12px;
                        border-radius: 10px;
                        font-weight: bold;
                    }
                }
                & > a{
                    margin:0 30px;
                }
            }
        }

        & .innerMenu{
            position: fixed;
            display: inline-block;
            left: 0;
            top: 425px;
            bottom: 0;
            width: 135px;
            margin: auto 30px;
            z-index: 89;

            & > img{
                width: 135px;
                background: url('../images/innerMenuSprite.svg') no-repeat;
                margin: 50px 0;
                @include opacity(.2);

                &.performance{
                    height: 497px;
                    background-position: 0px 0px;
                }
                &.convertible{
                    height: 425px;
                    background-position: -135px 0px;
                }
                &.seats{
                    height: 620px;
                    background-position: -280px 0px;
                }
                &.safety{
                    height: 704px;
                    background-position: -420px 0px;
                }
                &.dimension{
                    height: 427px;
                    background-position: -560px 0px;
                }
            }
        }

        & .content{
            min-width: 910px;
            flex: 1;
            position: relative;

            & .trident{
                background: url('../images/trident/trident@2x.png') no-repeat center center;
                width: 111%;
                height: 100%;
                display: inline-block;
                background-size: 2166px;
                position: fixed;
                left: 0;
                top: 120px;
                right: 0;
                margin: auto;
            }

            & .trident-label{
                position: relative;
                top: -75px;
                z-index: 10;
                left: 226px;
            }
        }        
    }
}