@import "variables";
@import "compass/css3";

body{
  background: #072643;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.brandBar{
  width: 100%;
}
.header{

  & .container-fluid{
    background: $lightBG;
  }
  & .btn{
    margin-bottom: 30px;
  }
  & .navbar-header{
    padding: 30px 15px;

    & .navbar-brand{
      height: auto;
      padding: 0;
    }
  }
  & .instaCTA{
    position: relative;
    display: inline-block;

    &:hover{
      & .btn-primary{
        color:#ffffff;
        background: $primaryColor;
      }
    }

    & #IMPWCTA{}

    & .im-checkout{
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
      @include opacity(0);
      display: none;

      &:first-child{
        display: block;
      }

      & a{
        padding: 17px;
      }
    }
  }
  & .heroImage, & .navbar-header{
    position: relative;
    z-index: 3;
  }
  & .signature{
    text-transform: uppercase;
    font-weight: $fontBolder;
    font-size: 13px;
    position: absolute;
    @include transform(rotate(-90deg));
    left: -115px;
    top: 255px;
    color: $darkGrey;
    letter-spacing: 15px;
    z-index: 9;
  }
  & .heroImage{
    text-align: center;

    & img{
      width: 360px;
      height: 551px;
      background-size: 100% !important;
      background-repeat: no-repeat !important;
      margin:25px auto;

      &.one{background: url('../images/360/1.png');}
      &.two{background: url('../images/360/2.png');}
      &.three{background: url('../images/360/3.png');}
      &.four{background: url('../images/360/4.png');}
      &.five{background: url('../images/360/5.png');}
      &.six{background: url('../images/360/6.png');}
      &.seven{background: url('../images/360/7.png');}
      &.eight{background: url('../images/360/8.png');}
    }
  }
  & .lowerBg{
    z-index: 1;
  }
  & .cta-360{
    position: absolute;
    z-index: 5;
    top: 153px;
    left: 30px;

    & li{
      font-size: 12px;
      text-transform: uppercase;
      font-weight: $fontBold;
      color: #f55453;
      padding: 0 0 46px;
      height: 50px;

      &:hover{
        color: #ffffff;
      }
    }
  }
  & .ctaLines-360{
    position: absolute;
    z-index: 2;
    top: 95px;
    width: 65%;
    left: 30px;

    & li{
      width: 100%;
      border-top:1px solid #ff7272;
      padding: 0 0 46px;
      height: 50px;

      &:hover{
        border-top:1px solid #ffffff;
      }
    }
  }
  & .upperBg{
    z-index: 4;
    @include opacity(.6);
    pointer-events: none;
  }
  & .lowerBg, & .upperBg{
    background: $primaryColor;
    position: absolute;
    left: 0; right: 195px; top: 0; bottom: 0;
  }
}
.whyElement{
  & img.img-responsive{
    margin-bottom: 15px;

    &+h5{
      margin-bottom: 30px;

      &+p{
        margin-top: -20px;
      }
    }
  }
}
.copyright{
  font-size: 13px;
}
.tag{
  font-size: 13px;
  font-weight: $fontBold;
  color: #ffffff;
  background: $primaryColor;
  padding: 3px 5px;
  text-transform: uppercase;
  margin: 0 0 20px;
  display: inline-block;
}
h1{
  font-weight: $fontBolder;
  font-size: 54px;
  line-height: 56px;
  margin: 0 0 30px;
}
h2{
  font-weight: $fontBolder;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 30px;
}
h3{
  font-weight: $fontBold;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 30px;
}
p{
  font-size: 16px;
  line-height: 18px;
  color: $lightGrey;
  margin: 0 0 30px;
}
h5{
  text-transform: uppercase;
  font-weight: $fontBold;
  color: $lightGrey;
  margin: 0 0 15px;
}
form{
  & .form-group{
    margin-bottom: 0;
  }
  & label.control-label{
    font-size: 14px;
    color: $lightGrey;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  & .customRadio{
    border:2px solid #c2c4c6;
    @include border-radius(15px);
    display: inline-block;
    padding: 3px 10px;
    margin: 0 10px 15px 0;
    font-size: 13px;
    font-weight: $fontBold;
    color: $darkGrey;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{
      background: #ffffff;
    }

    & input[type="radio"]{
      display: none;
    }

    &.checked{
      border:2px solid $primaryColor;
    }
    &.disabled{
      @include opacity(.5);
      cursor: default;

      &:hover{
        background: none;
      }
    }
  }

  & .form-group{
    &.last-child{
      margin-bottom: 10px;
    }
  }
}
.container-fluid{
  max-width: 1440px;
}
#clockdiv{
  position: relative;
  display: inline-block;

  & .expiredText{
    position: absolute;
    left: 0;
    right: 30px;
    top: 0;
    padding: 17px 0;
    text-align: center;
    background: rgba(238, 238, 238, 0.95);
    bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #dc2625;
  }
  & > div{
    display: inline-block;
    margin: 0 30px 30px 0;

    & > span{
      border:2px solid #c2c4c6;
      font-size: 30px;
      font-weight: lighter;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 45px;
      display: inline-block;
    }
    & > .smalltext{
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 5px 0;
    }
  }
}
.btn{
  height: 50px;
  font-size: 19px;
  font-weight: $fontBold;
  background: none;
  line-height: 33px;
  @include border-radius(0);
  text-decoration: none;

  & .big{
    font-size: 29px;
    font-weight: $fontBolder;
    display: inline-block;
  }
  & .fa{
    font-size: 17px;
  }

  &.btn-primary{
    color:$primaryColor;
    border:2px solid $primaryColor;
    margin-right: 15px;

    &:hover{
      color:#ffffff;
      background: $primaryColor;
    }
  }
  &.btn-default{
    color:$darkGrey;
    border:2px solid $darkGrey;
  }
}

a{
  color: $link;
  text-decoration: underline;
}

.modal{
  font-size: 14px;

  & table{
    & th{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: $fontBold;
    }
  }
}

.thumbnail{
  padding: 30px 30px 15px;

  & .caption{
    padding: 15px 0 0;
  }

  & p{
    margin: 0 0 15px;
    font-size: 14px;
  }
}

.section{
  padding: 30px;

  &.bgWhite{
    background: $white;
  }
  &.bgGrey{
    background: #eeeeee;
  }
  &.bgBlack{
    background: #000000;
    color: #ffffff;
  }

  & .img-responsive{
    margin: auto;
  }
}

@media (max-width: 768px){
  .header{
    & .lowerBg, & .upperBg{
      right: 0;
    }
    & .upperBg{
      right: 50%;
    }
    & .tag{
      margin-top: 30px;
    }
    & .heroImage{
      float: none !important;
      margin: auto;
    }
  }
}
@media (-webkit-min-device-pixel-ratio:2){
  .header .heroImage{
    & img{
      &.one{background: url('../images/360/1@2x.png');}
      &.two{background: url('../images/360/2@2x.png');}
      &.three{background: url('../images/360/3@2x.png');}
      &.four{background: url('../images/360/4@2x.png');}
      &.five{background: url('../images/360/5@2x.png');}
      &.six{background: url('../images/360/6@2x.png');}
      &.seven{background: url('../images/360/7@2x.png');}
      &.eight{background: url('../images/360/8@2x.png');}
    }
  }
}
// @media (min-width: 1280){
//   .container {width: 1280px;}
// }
// @media (min-width: 1280){
//   .container {width: 1280px;}
// }
// @media (min-width: 1366){
//   .container {width: 1366px;}
// }
// @media (min-width: 1680){
//   .container {width: 1680px;}
// }
