/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none;
}

/* line 116, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/partials/_layout.scss */
body {
  background: #072643;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 9, ../sass/partials/_layout.scss */
.brandBar {
  width: 100%;
}

/* line 14, ../sass/partials/_layout.scss */
.header .container-fluid {
  background: #eeeeee;
}
/* line 17, ../sass/partials/_layout.scss */
.header .btn {
  margin-bottom: 30px;
}
/* line 20, ../sass/partials/_layout.scss */
.header .navbar-header {
  padding: 30px 15px;
}
/* line 23, ../sass/partials/_layout.scss */
.header .navbar-header .navbar-brand {
  height: auto;
  padding: 0;
}
/* line 28, ../sass/partials/_layout.scss */
.header .instaCTA {
  position: relative;
  display: inline-block;
}
/* line 33, ../sass/partials/_layout.scss */
.header .instaCTA:hover .btn-primary {
  color: #ffffff;
  background: #dc2625;
}
/* line 41, ../sass/partials/_layout.scss */
.header .instaCTA .im-checkout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: none;
}
/* line 47, ../sass/partials/_layout.scss */
.header .instaCTA .im-checkout:first-child {
  display: block;
}
/* line 51, ../sass/partials/_layout.scss */
.header .instaCTA .im-checkout a {
  padding: 17px;
}
/* line 56, ../sass/partials/_layout.scss */
.header .heroImage, .header .navbar-header {
  position: relative;
  z-index: 3;
}
/* line 60, ../sass/partials/_layout.scss */
.header .signature {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  position: absolute;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -115px;
  top: 255px;
  color: #363b3f;
  letter-spacing: 15px;
  z-index: 9;
}
/* line 72, ../sass/partials/_layout.scss */
.header .heroImage {
  text-align: center;
}
/* line 75, ../sass/partials/_layout.scss */
.header .heroImage img {
  width: 360px;
  height: 551px;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  margin: 25px auto;
}
/* line 82, ../sass/partials/_layout.scss */
.header .heroImage img.one {
  background: url("../images/360/1.png");
}
/* line 83, ../sass/partials/_layout.scss */
.header .heroImage img.two {
  background: url("../images/360/2.png");
}
/* line 84, ../sass/partials/_layout.scss */
.header .heroImage img.three {
  background: url("../images/360/3.png");
}
/* line 85, ../sass/partials/_layout.scss */
.header .heroImage img.four {
  background: url("../images/360/4.png");
}
/* line 86, ../sass/partials/_layout.scss */
.header .heroImage img.five {
  background: url("../images/360/5.png");
}
/* line 87, ../sass/partials/_layout.scss */
.header .heroImage img.six {
  background: url("../images/360/6.png");
}
/* line 88, ../sass/partials/_layout.scss */
.header .heroImage img.seven {
  background: url("../images/360/7.png");
}
/* line 89, ../sass/partials/_layout.scss */
.header .heroImage img.eight {
  background: url("../images/360/8.png");
}
/* line 92, ../sass/partials/_layout.scss */
.header .lowerBg {
  z-index: 1;
}
/* line 95, ../sass/partials/_layout.scss */
.header .cta-360 {
  position: absolute;
  z-index: 5;
  top: 153px;
  left: 30px;
}
/* line 101, ../sass/partials/_layout.scss */
.header .cta-360 li {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f55453;
  padding: 0 0 46px;
  height: 50px;
}
/* line 109, ../sass/partials/_layout.scss */
.header .cta-360 li:hover {
  color: #ffffff;
}
/* line 114, ../sass/partials/_layout.scss */
.header .ctaLines-360 {
  position: absolute;
  z-index: 2;
  top: 95px;
  width: 65%;
  left: 30px;
}
/* line 121, ../sass/partials/_layout.scss */
.header .ctaLines-360 li {
  width: 100%;
  border-top: 1px solid #ff7272;
  padding: 0 0 46px;
  height: 50px;
}
/* line 127, ../sass/partials/_layout.scss */
.header .ctaLines-360 li:hover {
  border-top: 1px solid #ffffff;
}
/* line 132, ../sass/partials/_layout.scss */
.header .upperBg {
  z-index: 4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  pointer-events: none;
}
/* line 137, ../sass/partials/_layout.scss */
.header .lowerBg, .header .upperBg {
  background: #dc2625;
  position: absolute;
  left: 0;
  right: 195px;
  top: 0;
  bottom: 0;
}

/* line 144, ../sass/partials/_layout.scss */
.whyElement img.img-responsive {
  margin-bottom: 15px;
}
/* line 147, ../sass/partials/_layout.scss */
.whyElement img.img-responsive + h5 {
  margin-bottom: 30px;
}
/* line 150, ../sass/partials/_layout.scss */
.whyElement img.img-responsive + h5 + p {
  margin-top: -20px;
}

/* line 156, ../sass/partials/_layout.scss */
.copyright {
  font-size: 13px;
}

/* line 159, ../sass/partials/_layout.scss */
.tag {
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  background: #dc2625;
  padding: 3px 5px;
  text-transform: uppercase;
  margin: 0 0 20px;
  display: inline-block;
}

/* line 169, ../sass/partials/_layout.scss */
h1 {
  font-weight: 800;
  font-size: 54px;
  line-height: 56px;
  margin: 0 0 30px;
}

/* line 175, ../sass/partials/_layout.scss */
h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 30px;
}

/* line 181, ../sass/partials/_layout.scss */
h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 30px;
}

/* line 187, ../sass/partials/_layout.scss */
p {
  font-size: 16px;
  line-height: 18px;
  color: #5d6469;
  margin: 0 0 30px;
}

/* line 193, ../sass/partials/_layout.scss */
h5 {
  text-transform: uppercase;
  font-weight: 700;
  color: #5d6469;
  margin: 0 0 15px;
}

/* line 200, ../sass/partials/_layout.scss */
form .form-group {
  margin-bottom: 0;
}
/* line 203, ../sass/partials/_layout.scss */
form label.control-label {
  font-size: 14px;
  color: #5d6469;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 209, ../sass/partials/_layout.scss */
form .customRadio {
  border: 2px solid #c2c4c6;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  padding: 3px 10px;
  margin: 0 10px 15px 0;
  font-size: 13px;
  font-weight: 700;
  color: #363b3f;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 221, ../sass/partials/_layout.scss */
form .customRadio:hover {
  background: #ffffff;
}
/* line 225, ../sass/partials/_layout.scss */
form .customRadio input[type="radio"] {
  display: none;
}
/* line 229, ../sass/partials/_layout.scss */
form .customRadio.checked {
  border: 2px solid #dc2625;
}
/* line 232, ../sass/partials/_layout.scss */
form .customRadio.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}
/* line 236, ../sass/partials/_layout.scss */
form .customRadio.disabled:hover {
  background: none;
}
/* line 243, ../sass/partials/_layout.scss */
form .form-group.last-child {
  margin-bottom: 10px;
}

/* line 248, ../sass/partials/_layout.scss */
.container-fluid {
  max-width: 1440px;
}

/* line 251, ../sass/partials/_layout.scss */
#clockdiv {
  position: relative;
  display: inline-block;
}
/* line 255, ../sass/partials/_layout.scss */
#clockdiv .expiredText {
  position: absolute;
  left: 0;
  right: 30px;
  top: 0;
  padding: 17px 0;
  text-align: center;
  background: rgba(238, 238, 238, 0.95);
  bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #dc2625;
}
/* line 268, ../sass/partials/_layout.scss */
#clockdiv > div {
  display: inline-block;
  margin: 0 30px 30px 0;
}
/* line 272, ../sass/partials/_layout.scss */
#clockdiv > div > span {
  border: 2px solid #c2c4c6;
  font-size: 30px;
  font-weight: lighter;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  display: inline-block;
}
/* line 282, ../sass/partials/_layout.scss */
#clockdiv > div > .smalltext {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0;
}

/* line 290, ../sass/partials/_layout.scss */
.btn {
  height: 50px;
  font-size: 19px;
  font-weight: 700;
  background: none;
  line-height: 33px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}
/* line 299, ../sass/partials/_layout.scss */
.btn .big {
  font-size: 29px;
  font-weight: 800;
  display: inline-block;
}
/* line 304, ../sass/partials/_layout.scss */
.btn .fa {
  font-size: 17px;
}
/* line 308, ../sass/partials/_layout.scss */
.btn.btn-primary {
  color: #dc2625;
  border: 2px solid #dc2625;
  margin-right: 15px;
}
/* line 313, ../sass/partials/_layout.scss */
.btn.btn-primary:hover {
  color: #ffffff;
  background: #dc2625;
}
/* line 318, ../sass/partials/_layout.scss */
.btn.btn-default {
  color: #363b3f;
  border: 2px solid #363b3f;
}

/* line 324, ../sass/partials/_layout.scss */
a {
  color: #00b4ff;
  text-decoration: underline;
}

/* line 329, ../sass/partials/_layout.scss */
.modal {
  font-size: 14px;
}
/* line 333, ../sass/partials/_layout.scss */
.modal table th {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

/* line 341, ../sass/partials/_layout.scss */
.thumbnail {
  padding: 30px 30px 15px;
}
/* line 344, ../sass/partials/_layout.scss */
.thumbnail .caption {
  padding: 15px 0 0;
}
/* line 348, ../sass/partials/_layout.scss */
.thumbnail p {
  margin: 0 0 15px;
  font-size: 14px;
}

/* line 354, ../sass/partials/_layout.scss */
.section {
  padding: 30px;
}
/* line 357, ../sass/partials/_layout.scss */
.section.bgWhite {
  background: #ffffff;
}
/* line 360, ../sass/partials/_layout.scss */
.section.bgGrey {
  background: #eeeeee;
}
/* line 363, ../sass/partials/_layout.scss */
.section.bgBlack {
  background: #000000;
  color: #ffffff;
}
/* line 368, ../sass/partials/_layout.scss */
.section .img-responsive {
  margin: auto;
}

@media (max-width: 768px) {
  /* line 375, ../sass/partials/_layout.scss */
  .header .lowerBg, .header .upperBg {
    right: 0;
  }
  /* line 378, ../sass/partials/_layout.scss */
  .header .upperBg {
    right: 50%;
  }
  /* line 381, ../sass/partials/_layout.scss */
  .header .tag {
    margin-top: 30px;
  }
  /* line 384, ../sass/partials/_layout.scss */
  .header .heroImage {
    float: none !important;
    margin: auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) {
  /* line 393, ../sass/partials/_layout.scss */
  .header .heroImage img.one {
    background: url("../images/360/1@2x.png");
  }
  /* line 394, ../sass/partials/_layout.scss */
  .header .heroImage img.two {
    background: url("../images/360/2@2x.png");
  }
  /* line 395, ../sass/partials/_layout.scss */
  .header .heroImage img.three {
    background: url("../images/360/3@2x.png");
  }
  /* line 396, ../sass/partials/_layout.scss */
  .header .heroImage img.four {
    background: url("../images/360/4@2x.png");
  }
  /* line 397, ../sass/partials/_layout.scss */
  .header .heroImage img.five {
    background: url("../images/360/5@2x.png");
  }
  /* line 398, ../sass/partials/_layout.scss */
  .header .heroImage img.six {
    background: url("../images/360/6@2x.png");
  }
  /* line 399, ../sass/partials/_layout.scss */
  .header .heroImage img.seven {
    background: url("../images/360/7@2x.png");
  }
  /* line 400, ../sass/partials/_layout.scss */
  .header .heroImage img.eight {
    background: url("../images/360/8@2x.png");
  }
}
